body {
     background-color: lightblue;
}



div {     
     width: 100%; 
         
}


ul {  
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    
}

h1 {  
    font-family: arial;
    text-align: center;
    font-size: 40px;

}

h1 {  
    font-family: arial;
    text-align: center;
    font-size: 30px;

}

a {  
    font-family: arial;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: blue;   

}

li {
    float: left;

}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover{
    background-color: #111;

}

a {
   
    float: center;
    padding: px;
    
}

.active {
    background-color: #4caf50

}